* {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #f0f0f0;
}

.TodoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TodoForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
}

.TodoForm input {
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.TodoForm button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f0f0f0;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
}

.Todo button {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f0f0f0;
}
